@import "tailwindcss";

:root {
  --background: #f6f4f9;
  --foreground: #f6f4f9;
  --bold-gradient: linear-gradient(270deg, #ff2947 13.86%, #121e6c 83.33%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --background-image-bold-gradient: linear-gradient(
    270deg,
    #ff2947 13.86%,
    #121e6c 83.33%
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
